.vs/
.vs2019/
.vs2017/
bin/
obj/
lib/
include/
pomocnicze/
*.ilk
*.log
*.obj
*.pdb
*.exe
*.vcxproj.user
*.vc.db
*.tlog
*.ipch
*.sdf
*.idb
*.ipdb
*.opendb
/x64/
BlackHol.14DB71E9/
x64/
*.vcxproj
*.user
